In [53]:
import numpy as np
from RegressionFunc import *

In [54]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [55]:
%autoreload 2

In [56]:
df = pd.read_csv('../data/gfs_days.csv', sep = ';', index_col = 'Date', parse_dates = ['Date'])
df

,4LFTX,ABSV_mb_700,ABSV_mb_750,ABSV_mb_800,ABSV_mb_850,ABSV_mb_900,ABSV_mb_925,ABSV_mb_950,ABSV_mb_975,ABSV_mb_1000,...,VVEL_mb_850,VVEL_mb_900,VVEL_mb_925,VVEL_mb_950,VVEL_mb_975,VVEL_mb_1000,VVEL_sig_0995,VWSH_pv_p2,VWSH_tropo,WEASD
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,15.503754,0.000108,0.000113,0.000108,0.000101,0.000119,0.000124,0.000068,0.000061,0.000120,...,-0.132991,-0.233392,-0.229356,-0.091840,0.051535,0.067285,0.077051,-0.003964,-0.003923,27.000000
2019-01-02,13.393949,0.000082,0.000098,0.000089,0.000103,0.000120,0.000074,-0.000041,-0.000010,0.000112,...,-0.118636,-0.130514,0.004585,0.217081,0.296434,0.225434,0.240842,-0.000174,0.000870,28.000000
2019-01-03,16.367351,0.000162,0.000144,0.000131,0.000134,0.000146,0.000110,0.000023,0.000034,0.000104,...,0.036918,0.025654,0.106706,0.233982,0.289983,0.280483,0.294917,-0.003014,-0.003251,28.375000
2019-01-04,17.259163,0.000137,0.000125,0.000120,0.000126,0.000138,0.000132,0.000134,0.000161,0.000154,...,-0.020194,-0.013777,0.015017,0.027723,0.060357,0.072836,0.080266,-0.000009,0.000795,28.500000
2019-01-05,13.000077,0.000105,0.000107,0.000115,0.000135,0.000116,0.000025,-0.000056,0.000017,0.000124,...,-0.195201,0.026128,0.310815,0.492098,0.375910,0.231913,0.272250,-0.000494,-0.000720,28.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-15,11.089683,0.000139,0.000120,0.000085,0.000103,0.000084,0.000094,0.000088,0.000029,0.000123,...,-0.120575,0.009730,0.142161,0.310661,0.401734,0.263259,0.399854,-0.000311,0.000447,15.986001
2024-03-16,12.766422,0.000132,0.000139,0.000116,0.000118,0.000078,0.000078,0.000061,0.000021,0.000111,...,0.358461,0.774484,0.860042,0.901715,0.761142,0.463124,0.724344,-0.000834,-0.002645,15.358001
2024-03-17,10.068925,0.000136,0.000161,0.000168,0.000156,0.000054,0.000052,0.000039,-0.000058,0.000073,...,-0.127904,0.328972,0.481230,0.568360,0.511872,0.354145,0.537561,-0.000336,-0.000794,16.042001
2024-03-18,7.427691,0.000101,0.000121,0.000120,0.000116,0.000069,0.000081,0.000089,0.000030,0.000106,...,-0.009294,0.353496,0.574595,0.715960,0.626205,0.440548,0.691725,0.001145,-0.001000,12.624000
2024-03-19,8.825172,0.000070,0.000082,0.000084,0.000053,0.000055,0.000019,0.000021,0.000084,0.000128,...,0.110721,0.508280,0.677934,0.614840,0.315202,0.253511,0.404121,-0.000898,-0.003639,8.113001

In [57]:
df = pd.read_csv('../data/gfs_days.csv', sep = ';', index_col = 'Date', parse_dates = ['Date'])

# Температурные инверсии
df['DT1'] = df['TMP_mb_1000'] - df['TMP_mb_925']
df['DT2'] = df['TMP_mb_925'] - df['TMP_mb_850']
df['DT3'] = df['TMP_mb_1000'] - df['TMP_mb_850']

### Температура  на разных слоях, высота планетарного пограничного слоя, инверсии

In [58]:
df = df[[feat for feat in df.columns if "TMP_" in feat] + ['HPBL', 'DT1', 'DT2', 'DT3']] 
df

,TMP_m_2,TMP_m_80,TMP_m_100,TMP_mb_700,TMP_mb_750,TMP_mb_800,TMP_mb_850,TMP_mb_900,TMP_mb_925,TMP_mb_950,...,TMP_msl_2743,TMP_msl_3658,TMP_pv_p2,TMP_sig_0995,TMP_surf,TMP_tropo,HPBL,DT1,DT2,DT3
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,-15.036028,-14.065619,-14.010622,-20.649996,-18.626736,-17.012074,-15.319868,-13.626802,-12.756472,-12.964930,...,-19.784126,-22.812513,-62.409014,-14.221346,-16.305109,-62.673685,43.268045,-1.086754,2.563396,1.476642
2019-01-02,-15.554727,-14.968962,-14.905069,-23.507378,-20.651045,-18.688894,-17.069113,-15.133181,-14.224478,-13.897070,...,-22.252352,-27.242889,-56.770241,-15.086241,-16.463743,-59.259321,97.546916,-0.483261,2.844635,2.361374
2019-01-03,-17.415102,-16.447024,-16.394486,-25.180206,-22.337277,-20.026792,-18.559624,-17.449488,-16.754423,-16.326780,...,-24.025007,-27.632092,-55.220438,-16.639517,-18.737488,-59.174357,85.520970,0.401894,1.805201,2.207094
2019-01-04,-19.989693,-18.020252,-17.768793,-19.825367,-18.607857,-17.459810,-16.329878,-14.933958,-14.451819,-15.250547,...,-19.354433,-22.188843,-62.408976,-18.575432,-21.945013,-62.895603,40.738016,-3.801737,1.878059,-1.923678
2019-01-05,-18.821886,-18.110851,-18.075773,-21.143309,-18.679708,-16.926903,-15.861925,-15.289194,-15.490312,-16.855044,...,-20.236590,-25.053589,-60.781376,-18.221583,-20.136263,-61.614156,263.549033,-2.246016,0.371612,-1.874403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-15,-8.654654,-8.898985,-9.053858,-24.898251,-22.669739,-20.614099,-17.602909,-14.415293,-12.709497,-10.986605,...,-24.150747,-28.648998,-56.738636,-8.611586,-9.009524,-59.051268,692.618556,4.645954,4.893412,9.539365
2024-03-16,-6.765238,-6.741514,-6.877837,-22.317516,-19.972631,-17.585459,-14.918680,-12.061041,-10.344889,-8.611491,...,-21.431612,-26.752502,-60.209502,-6.503596,-7.392996,-61.492664,936.542015,4.371341,4.573792,8.945133
2024-03-17,-2.659102,-3.093863,-3.261691,-17.531685,-14.683485,-12.689188,-10.393141,-8.076098,-6.599741,-4.847804,...,-16.440001,-21.373993,-61.022403,-2.760050,-3.301653,-61.733907,920.505569,4.863132,3.793400,8.656532
2024-03-18,-0.346556,-0.559588,-0.709769,-10.907995,-8.691744,-6.446333,-5.581282,-4.889353,-3.861277,-2.232020,...,-9.827898,-14.928217,-66.135108,-0.258288,-1.400439,-66.600219,729.932201,4.543930,1.720005,6.263935
2024-03-19,0.272974,1.882268,1.827615,-10.456858,-7.182387,-4.635924,-2.525240,-0.335883,0.201463,1.079187,...,-9.199454,-15.315157,-66.453550,1.933927,-0.960478,-67.028085,310.984117,1.821327,2.726704,4.548031

### Давление, влажность, направление и скорость ветра

In [59]:
sensor = 'm'
fill = '_fill'

district = 'Mean'

# Данные pm за 4+ года
df['pm'] = pd.read_csv(f"../data/pm25_{sensor}{fill}.csv", sep = ';', index_col = ['Date'], parse_dates = ['Date'], usecols = ['Date', district]).values

features = ['Pressure', 'Wet', 'Wind_dir', 'Wind_speed']
for feat in features:
    df[feat] = pd.read_csv(f"../data/Features{fill}/{feat}_{sensor}.csv", sep = ';', index_col = ['Date'], parse_dates = ['Date'], usecols = ['Date', district])
df

,TMP_m_2,TMP_m_80,TMP_m_100,TMP_mb_700,TMP_mb_750,TMP_mb_800,TMP_mb_850,TMP_mb_900,TMP_mb_925,TMP_mb_950,...,TMP_tropo,HPBL,DT1,DT2,DT3,pm,Pressure,Wet,Wind_dir,Wind_speed
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,-15.036028,-14.065619,-14.010622,-20.649996,-18.626736,-17.012074,-15.319868,-13.626802,-12.756472,-12.964930,...,-62.673685,43.268045,-1.086754,2.563396,1.476642,88.40,755.20,79.08,231.00,0.48
2019-01-02,-15.554727,-14.968962,-14.905069,-23.507378,-20.651045,-18.688894,-17.069113,-15.133181,-14.224478,-13.897070,...,-59.259321,97.546916,-0.483261,2.844635,2.361374,33.99,755.80,80.42,236.00,0.82
2019-01-03,-17.415102,-16.447024,-16.394486,-25.180206,-22.337277,-20.026792,-18.559624,-17.449488,-16.754423,-16.326780,...,-59.174357,85.520970,0.401894,1.805201,2.207094,9.36,757.20,77.62,242.00,1.10
2019-01-04,-19.989693,-18.020252,-17.768793,-19.825367,-18.607857,-17.459810,-16.329878,-14.933958,-14.451819,-15.250547,...,-62.895603,40.738016,-3.801737,1.878059,-1.923678,44.34,755.80,79.34,219.00,0.58
2019-01-05,-18.821886,-18.110851,-18.075773,-21.143309,-18.679708,-16.926903,-15.861925,-15.289194,-15.490312,-16.855044,...,-61.614156,263.549033,-2.246016,0.371612,-1.874403,62.41,751.40,78.22,243.20,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-15,-8.654654,-8.898985,-9.053858,-24.898251,-22.669739,-20.614099,-17.602909,-14.415293,-12.709497,-10.986605,...,-59.051268,692.618556,4.645954,4.893412,9.539365,14.80,752.27,61.37,223.55,1.97
2024-03-16,-6.765238,-6.741514,-6.877837,-22.317516,-19.972631,-17.585459,-14.918680,-12.061041,-10.344889,-8.611491,...,-61.492664,936.542015,4.371341,4.573792,8.945133,10.79,752.79,61.68,199.73,2.40
2024-03-17,-2.659102,-3.093863,-3.261691,-17.531685,-14.683485,-12.689188,-10.393141,-8.076098,-6.599741,-4.847804,...,-61.733907,920.505569,4.863132,3.793400,8.656532,6.77,747.25,74.79,225.39,2.79
2024-03-18,-0.346556,-0.559588,-0.709769,-10.907995,-8.691744,-6.446333,-5.581282,-4.889353,-3.861277,-2.232020,...,-66.600219,729.932201,4.543930,1.720005,6.263935,7.41,747.95,72.40,214.06,2.66
2024-03-19,0.272974,1.882268,1.827615,-10.456858,-7.182387,-4.635924,-2.525240,-0.335883,0.201463,1.079187,...,-67.028085,310.984117,1.821327,2.726704,4.548031,5.72,743.18,49.59,214.03,2.23

In [60]:
df.dropna(inplace = True)
df.shape

(1905, 30)

# Линейная регрессия

## Построение моделей

In [61]:
pd.options.mode.chained_assignment = None

### Без отбора признаков

In [62]:
fileName = 'XGBoost.xlsx'
#fileName = 'Ошибки регрессий на признаках gfs + геопортал.xlsx'

In [63]:
for season in ['winters', 'springs', 'summers', 'autumns']:
    data = splitDataBySeason(df, season)
    
    resultDfs = BuildModels(data, modelType = 'xgbReg', testSeason = season, param_dependences = [])
    
    # Сохранение в файл
    SaveResults('Results/', fileName, resultDfs, sheetName = 'Без отбора признаков')

                                              Train      CV    Test
{'learning_rate': 0.2, 'n_estimators': 100}
MSE                                          289.81  318.84  390.36
MAE                                           12.67   13.35   14.54
MAPE                                           0.50    0.53    0.65
R2                                             0.63    0.47    0.58
R2_adj                                         0.60     NaN   -0.10

                                               Train     CV   Test
{'learning_rate': 0.05, 'n_estimators': 8000}
MSE                                            28.07  37.06  27.39
MAE                                             3.91   4.50   3.99
MAPE                                            0.35   0.40   0.31
R2                                              0.52   0.24   0.54
R2_adj                                          0.48    NaN  -0.59

                                              Train     CV   Test
{'learning_rate': 0.05, 'n_estimators': 890}
MSE                                           14.49  17.39  33.61
MAE                                            2.71   2.96   3.35
MAPE                                           0.25   0.27   0.27
R2                                             0.42   0.36   0.24
R2_adj                                         0.37    NaN  -1.22

                                             Train     CV   Test
{'learning_rate': 0.5, 'n_estimators': 100}
MSE                                          31.91  44.18  26.81
MAE                                           4.33   5.06   4.17
MAPE                                          0.39   0.46   0.37
R2                                            0.39  -0.48   0.39
R2_adj                                        0.33    NaN  -2.12

### С отбором признаков

In [64]:
for season in ['winters', 'springs', 'summers', 'autumns']:
    data = splitDataBySeason(df, season)
    
    features = []
    featureSelect(data.corr(method = 'spearman'), features)
    resultDfs = BuildModels(data[features + ['pm']], modelType = 'xgbReg', testSeason = season, param_dependences = [])
    
    # Сохранение в файл
    SaveResults('Results/', fileName, resultDfs, sheetName = 'С отбором признаков', features = features, corr = data[features + ['pm']].corr(method = 'spearman')['pm'][:-1])

                                                Train      CV    Test
{'learning_rate': 0.05, 'n_estimators': 1680}
MSE                                            346.76  370.63  435.77
MAE                                             14.39   14.85   15.81
MAPE                                             0.60    0.62    0.74
R2                                               0.56    0.39    0.53
R2_adj                                           0.55     NaN    0.47

                                               Train     CV   Test
{'learning_rate': 0.05, 'n_estimators': 2470}
MSE                                            34.91  39.28  27.33
MAE                                             4.30   4.60   3.92
MAPE                                            0.39   0.42   0.35
R2                                              0.40   0.24   0.54
R2_adj                                          0.39    NaN   0.49

                                             Train     CV   Test
{'learning_rate': 0.5, 'n_estimators': 100}
MSE                                          15.06  17.59  32.96
MAE                                           2.75   2.99   3.28
MAPE                                          0.25   0.27   0.27
R2                                            0.39   0.34   0.26
R2_adj                                        0.38    NaN   0.14

                                               Train     CV   Test
{'learning_rate': 0.05, 'n_estimators': 2470}
MSE                                            32.57  43.83  27.55
MAE                                             4.36   5.04   4.24
MAPE                                            0.40   0.46   0.37
R2                                              0.37  -0.48   0.38
R2_adj                                          0.36    NaN   0.28